
h1
{
	margin-top:300px;
   font-family: 'Lobster', cursive;
  font-size: 100px;
  color: black;
  text-align: center;
}
body
{

	background-image: url(l3.jpg);
	opacity: 1.5;
	margin-top: 30PX;
	background-repeat: no-repeat;
	background-size: 1350px 700px;
}
h2
{ 
	margin-left: 700px;
	font-family: 'Lobster', cursive;
  font-size: 30px;
}
