body
{
	background-image: url(h1.jpg); 
	background-repeat: no-repeat;
	background-size: 1290px 650px;
	
}
h1
{
	font-family: 'Lobster', cursive;
  font-size: 100px;
  color: black;
  text-align: center;
}
button
{
	font-family: 'Lobster', cursive;
	font-size: 35px;
}
img
{
	margin-left: 40px

}
